# Fichiers Visual Studio
.vs/
*.vcxproj.*
*.vcxproj
*.sln
*.user
*.suo

# Dossiers de build
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.ilk
*.pdb
*.obj
*.log
*.ninja
*.res
*.rc
*.manifest
*.tlog
*.idb

# Générés par CMake
CMakeSettings.json
